In [48]:
#re.findall'\d+'-
string ='cars 20 bikes 40.cycles 80'

In [49]:
import re
pattern='\d+'
re.findall(pattern,string)

['20', '40', '80']

In [52]:
a="there are 20 girls and 50 boys"

In [53]:
import re
pattern='\d+'
re.findall(pattern,a)

['20', '50']

In [54]:
p= "there are 500 rupees and meena having 600 rupees "

In [55]:
import re
pattern='\d+'
re.findall(pattern,p)

['500', '600']

In [57]:
import re
string='here are 56 laptops,43 mouse and 89 keyboard'
pattern='\d+'
re.findall(pattern,string)

['56', '43', '89']

In [36]:
import re 
string=("i have 56 pens and 45 pencils")
pattern='\d+'
re.findall(pattern,string)

['56', '45']

In [37]:
#re.findall '\d'
import re 
string=("i have 400 rupees and 45 coins")
pattern='\d'
re.findall(pattern,string)

['4', '0', '0', '4', '5']

In [38]:
import re 
a=("tables are 40  and 48 are chairs")
pattern='\d'
re.findall(pattern,a)

['4', '0', '4', '8']

In [39]:
import re 
s=("bottles count are 68 and glass count are 200")
pattern='\d'
re.findall(pattern,s)

['6', '8', '2', '0', '0']

In [110]:
#re.findall '\s+'
import re 
a=("tables    are 40  and 48 are chairs")
pattern='\s+'
re.findall(pattern,a)

['    ', ' ', '  ', ' ', ' ', ' ']

In [42]:
import re 
string="apple are 500 in a pack and mango are 433 in a pack"
pattern='\s+'
re.findall(pattern,string)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [43]:
# re.findall '\s'_
import re 
a=("tables are 40  and 48 are chairs")
pattern='\s'
re.findall(pattern,a)

[' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [44]:
import re
string = 'abc 12\
de 23 \n f45 6'
pattern = '\s+'
re.findall(pattern,string)

[' ', ' ', ' \n ', ' ']

In [ ]:
#re.search '\d+'

In [111]:
a="boys are 60 in a class 100 "

In [112]:
import re 
pattern='\d+'
re.search(pattern,a)

In [61]:
import re 
s="phones are working 45 days and not working 35 days"
pattern='\d+'
re.search(pattern,s)

In [81]:
import re
str=input("Enter a String with numbers: \n")
pattern='\d+'
re.findall('\d+', str)

Enter a String with numbers:
my phone number is 4455667788

['4455667788']

In [99]:
import re
str=input("Enter a String with numbers: \n")
pattern='\d'
re.findall(pattern, str)

Enter a String with numbers:
my phone number is 3322445566

['3', '3', '2', '2', '4', '4', '5', '5', '6', '6']

In [62]:
#re.search '\d'

In [121]:
import re 
s=("bottles count are 688")
pattern='\w+'
re.findall(pattern,s)

['bottles', 'count', 'are', '688']

In [65]:
import re 
s=("there are 450 jars")
pattern='\d'
re.search(pattern,s)

In [66]:
#re.search '\s+'
import re 
s=("there are 450 jars")
pattern='\s+'
re.search(pattern,s)

In [67]:
import re 
s=("bottles count are 68 and glass count are 200")
pattern='\s+'
re.search(pattern,s)

In [68]:
#re.search '\s'
import re 
s="phones are working 45 days and not working 35 days"
pattern='\s'
re.search(pattern,s)

In [78]:
#re.match

In [126]:
import re 
s= "69 there are bowles"
pattern='\d+'
re.match(pattern,s)

In [92]:
import re
listString = ["string stay", "stringers sit","string dope"]
pattern = "(s\w+)\W(s\w+)"
re.match(pattern, string)

In [136]:
import re
listString = ["string 64 stay", "stringers sit","string dope"]
pattern = ("\w+")("\s")("\d+\s\w+")
re.match(pattern, string)

<>:3: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:3: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
C:\Users\user.DESKTOP-OMQ89VA\AppData\Local\Temp\ipykernel_15240\23900206.py:3: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  pattern = ("\w+")("\s")("\d+\s\w+")
C:\Users\user.DESKTOP-OMQ89VA\AppData\Local\Temp\ipykernel_15240\23900206.py:3: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  pattern = ("\w+")("\s")("\d+\s\w+")
C:\Users\user.DESKTOP-OMQ89VA\AppData\Local\Temp\ipykernel_15240\23900206.py:3: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  pattern = ("\w+")("\s")("\d+\s\w+")
C:\Users\user.DESKTOP-OMQ89VA\AppData\Local\Temp\ipykernel_15240\23900206.py:3: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  pattern = ("\w+")("\s")("\d+\s\w+")

TypeError: 'str' object is not callable