In [2]:
#Regx for date format 
"^[0-9]{1,2}\\/[0-9]{1,2}\\/[0-9]{4}$"

'^[0-9]{1,2}\\/[0-9]{1,2}\\/[0-9]{4}$'

In [3]:
import re

# Validate date
date_pattern = "^[0-9]{1,2}\\/[0-9]{1,2}\\/[0-9]{4}$"
re.match(date_pattern, '12/12/2022')

In [4]:
# Extract date from a string
date_extract_pattern = "[0-9]{1,2}\\/[0-9]{1,2}\\/[0-9]{4}"
re.findall(date_extract_pattern, 'I\'m on vacation from 1/18/2021 till 1/29/2021')

['1/18/2021', '1/29/2021']

In [5]:
import re
date_pattern = "^(?:\\d{4})-(?:\\d{2})-(?:\\d{2})T(?:\\d{2}):(?:\\d{2}):(?:\\d{2}(?:\\.\\d*)?)(?:(?:-(?:\\d{2}):(?:\\d{2})|Z)?)$"
re.match(date_pattern, '2021-11-04T22:32:47.142354-10:00')

In [6]:
date_extract_pattern = "(?:\\d{4})-(?:\\d{2})-(?:\\d{2})T(?:\\d{2}):(?:\\d{2}):(?:\\d{2}(?:\\.\\d*)?)(?:(?:-(?:\\d{2}):(?:\\d{2})|Z)?)"
re.findall(date_extract_pattern, '2017-05-23T15:02:27Z | WARN | Record not found\n2018-05-23T15:02:28Z | WARN | Project with the id ’53’ was not found')

['2017-05-23T15:02:27Z', '2018-05-23T15:02:28Z']

In [8]:
import datetime
from datetime import date
import re
s = "Naman's birthday is on 2022-07-28"
match = re.search(r'\d{4}-\d{2}-\d{2}', s)
date = datetime.datetime.strptime(match.group(), '%Y-%m-%d').date()
print (date)

2022-07-28

In [9]:
import re

In [10]:
string = """Hello my Number is 123456789 and
            my friend's number is 987654321"""

In [11]:
regex = '\d+'

In [12]:
match = re.findall(regex, string)
print(match)

['123456789', '987654321']

In [13]:
# Regx for search the numbers 
"^\\d+$"

'^\\d+$'

In [14]:
import re

# Validate number
number_pattern = "^\\d+$"
re.match(number_pattern, '42') 
re.match(number_pattern, 'notanumber') 

# Extract number from a string
number_extract_pattern = "\\d+"
re.findall(number_extract_pattern, 'Your message was viewed 203 times.')

['203']

In [15]:
"^(?:-(?:[1-9](?:\\d{0,2}(?:,\\d{3})+|\\d*))|(?:0|(?:[1-9](?:\\d{0,2}(?:,\\d{3})+|\\d*))))(?:.\\d+|)$"

'^(?:-(?:[1-9](?:\\d{0,2}(?:,\\d{3})+|\\d*))|(?:0|(?:[1-9](?:\\d{0,2}(?:,\\d{3})+|\\d*))))(?:.\\d+|)$'

In [16]:
number_pattern = "^(?:-(?:[1-9](?:\\d{0,2}(?:,\\d{3})+|\\d*))|(?:0|(?:[1-9](?:\\d{0,2}(?:,\\d{3})+|\\d*))))(?:.\\d+|)$"
re.match(number_pattern, '121220.22') 
re.match(number_pattern, 'Hey12122022x') 


number_extract_pattern = "(?:-(?:[1-9](?:\\d{0,2}(?:,\\d{3})+|\\d*))|(?:0|(?:[1-9](?:\\d{0,2}(?:,\\d{3})+|\\d*))))(?:.\\d+|)"
re.findall(number_extract_pattern, 'Pi equals to 3.14')

['3.14']

In [17]:
"123".isnumeric() 
"xx".isnumeric()

False

In [18]:
print("Enter the String: ")
text = input()
textLen = len(text)
nums = []
for i in range(textLen):
  if text[i]>='0' and text[i]<='9':
    nums.append(text[i])
print("\nNumbers List in String:")
print(nums)

Enter the String:
I have 45 apples and 22 mango.

Numbers List in String:
['4', '5', '2', '2']

In [19]:
print(end="Enter the String: ")
text = input()
textLen = len(text)
nums = []
chk = 0
for i in range(textLen):
  if text[i].isdigit():
    nums.append(text[i])
    chk = 1
if chk==1:
  print("\nHere are the list of Numbers in String: ")
  numsLen = len(nums)
  for i in range(numsLen):
    print(end=nums[i] + " ")
else:
  print("\nNumber is not available in the list!")

Enter the String: santabhatta 22@gmail.com

Here are the list of Numbers in String:
2 2

In [20]:
import re

str = 'We live at 9-162 Malibeu. My phone number is 666688888.'
#search using regex
x = re.findall('[0-9]+', str)
print(x)

['9', '162', '666688888']

In [21]:
import re

str = 'We four guys, live at 2nd street of Malibeu. I had a cash of $248 in my pocket. I got a ticket with serial number 88796451-52.'
#search using regex
x = re.findall('[0-9]+', str)
print(x)

['2', '248', '88796451', '52']

In [22]:
#Regular expression to find special charecter 

import re

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

In [23]:
import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [24]:
import re
p = re.compile('ab*')
p
re.compile('ab*')

re.compile(r'ab*', re.UNICODE)

In [25]:
p = re.compile('ab*', re.IGNORECASE)

In [26]:
import re

pattern = '^a...s$'
test_string = 'abyss'
result = re.match(pattern, test_string)

if result:
  print("Search successful.")
else:
  print("Search unsuccessful.")

Search successful.

In [27]:
import re

string = 'hello 12 hi 89. Howdy 34'
pattern = '\d+'

result = re.findall(pattern, string) 
print(result)

['12', '89', '34']

In [28]:
import re

string = 'Twelve:12 Eighty nine:89.'
pattern = '\d+'

result = re.split(pattern, string) 
print(result)

['Twelve:', ' Eighty nine:', '.']

In [29]:

# Program to remove all whitespaces
import re

# multiline string
string = 'abc 12\
de 23 \n f45 6'

# matches all whitespace characters
pattern = '\s+'

# empty string
replace = ''

new_string = re.sub(pattern, replace, string) 
print(new_string)

abc12de23f456

In [32]:
import re

# multiline string
string = 'abc 12\
de 23 \n f45 6'

# matches all whitespace characters
pattern = '\s+'
replace = ''

new_string = re.sub(r'\s+', replace, string, 1) 
print(new_string)

abc12de 23
 f45 6

In [33]:
# Program to remove all whitespaces
import re

# multiline string
string = 'abc 12\
de 23 \n f45 6'

# matches all whitespace characters
pattern = '\s+'

# empty string
replace = ''

new_string = re.subn(pattern, replace, string) 
print(new_string)

('abc12de23f456', 4)

In [34]:
import re

string = "Python is fun"

# check if 'Python' is at the beginning
match = re.search('\APython', string)

if match:
  print("pattern found inside the string")
else:
  print("pattern not found")

pattern found inside the string

In [35]:
import re

string = '39801 356, 2102 1111'

# Three digit number followed by space followed by two digit number
pattern = '(\d{3}) (\d{2})'

# match variable contains a Match object.
match = re.search(pattern, string) 

if match:
  print(match.group())
else:
  print("pattern not found")

801 35

In [36]:
import re

string = '\n and \r are escape sequences.'

result = re.findall(r'[\n\r]', string) 
print(result)

['\n', '\r']

In [37]:
import re

pattern = '^a...s$'
test_string = 'abyss'
result = re.match(pattern, test_string)

if result:
  print("Search successful.")
else:
  print("Search unsuccessful.")

Search successful.

In [38]:
from re import match

mystr = "Welcome to TutorialsTeacher"
obj1 = match("We", mystr)
print(obj1)
obj2 = match("teacher", mystr)
print(obj2)

<re.Match object; span=(0, 2), match='We'>
None

In [39]:
from re import match

strings=["Welcome to TutorialsTeacher", "weather forecast","Winston Churchill", "W.G.Grace","Wonders of India", "Water park"]

for string in strings:
    obj = match("W[a-z]",string)
    print(obj)

<re.Match object; span=(0, 2), match='We'>
None
<re.Match object; span=(0, 2), match='Wi'>
None
<re.Match object; span=(0, 2), match='Wo'>
<re.Match object; span=(0, 2), match='Wa'>

In [41]:
from re import findall

string = "Try to earn while you learn"

obj = findall("earn", string)
print(obj)

['earn', 'earn']

In [42]:
from re import finditer

string = "Try to earn while you learn"
it = finditer("earn", string)
for match in it:
    print(match.span())

(7, 11)
(23, 27)

In [43]:
from re import split

string = "Flat is better than nested. Sparse is better than dense."
words = split(r' ', string)
print(words)

['Flat', 'is', 'better', 'than', 'nested.', 'Sparse', 'is', 'better', 'than', 'dense.']

In [44]:
from re import *

pattern = compile(r'[aeiou]')
string = "Flat is better than nested. Sparse is better than dense."
words = split(r' ', string) 
for word in words:
    print(word, pattern.match(word))

Flat None
is <re.Match object; span=(0, 1), match='i'>
better None
than None
nested. None
Sparse None
is <re.Match object; span=(0, 1), match='i'>
better None
than None
dense. None

In [46]:
import re

str = 'an example word:cat!!'
match = re.search(r'word:\w\w\w', str)
# If-statement after search() tests if it succeeded
if match:
  print('found', match.group()) ## 'found word:cat'
else:
  print('did not find')

found word:cat

In [47]:
import re

target_str = "Jessa knows testing and machine learning"
res_str = re.sub(r"\s", "_", target_str)
# String after replacement
print(res_str)

Jessa_knows_testing_and_machine_learning

In [48]:
import re

target_str = "   Jessa Knows Testing And Machine Learning \t  ."

# \s+ to remove all spaces
# + indicate 1 or more occurrence of a space
res_str = re.sub(r"\s+", "", target_str)
# String after replacement
print(res_str)

JessaKnowsTestingAndMachineLearning.

In [49]:
import re

target_str = "   Jessa Knows Testing And Machine Learning \t  ."

# ^\s+ remove only leading spaces
# caret (^) matches only at the start of the string
res_str = re.sub(r"^\s+", "", target_str)

# String after replacement
print(res_str)

Jessa Knows Testing And Machine Learning 	  .

In [50]:
import re

target_str = "   Jessa Knows Testing And Machine Learning   \t\n"
# ^\s+$ remove only trailing spaces
# dollar ($) matches spaces only at the end of the string
res_str = re.sub(r"\s+$", "", target_str)

# String after replacement
print(res_str)

   Jessa Knows Testing And Machine Learning

In [51]:
import re

target_str = "   Jessa Knows Testing And Machine Learning   \t\n"
# ^\s+ remove leading spaces
# ^\s+$ removes trailing spaces
# | operator to combine both patterns
res_str = re.sub(r"^\s+|\s+$", "", target_str)

# String after replacement
print(res_str)

Jessa Knows Testing And Machine Learning

In [52]:
import re

target_str = "Jessa Knows Testing    And Machine     Learning \t \n"

# \s+ to match all whitespaces
# replace them using single space " "
res_str = re.sub(r"\s+", " ", target_str)

# string after replacement
print(res_str)

Jessa Knows Testing And Machine Learning

In [53]:
import re

# original string
target_str = "Jessa knows testing and machine learning"
# replace only first occurrence
res_str = re.sub(r"\s", "-", target_str, count=1)
# String after replacement
print(res_str)
# Output 'Jessa-knows testing and machine learning'

# replace three occurrence
res_str = re.sub(r"\s", "-", target_str, count=3)
print(res_str)

Jessa-knows testing and machine learning
Jessa-knows-testing-and machine learning

In [54]:
import re

# replacement function to convert uppercase letter to lowercase
def convert_to_lower(match_obj):
    if match_obj.group() is not None:
        return match_obj.group().lower()

# Original String
str = "Emma LOves PINEAPPLE DEssert and COCONUT Ice Cream"

# pass replacement function to re.sub()
res_str = re.sub(r"[A-Z]", convert_to_lower, str)
# String after replacement
print(res_str)

emma loves pineapple dessert and coconut ice cream

In [55]:
import re

# Original string
student_names = "Emma-Kelly Jessa Joy Scott-Joe Jerry"

# replace two pattern at the same time
# use OR (|) to separate two pattern
res = re.sub(r"(\s)|(-)", ",", student_names)
print(res)

Emma,Kelly,Jessa,Joy,Scott,Joe,Jerry

In [56]:
import re

# replacement function to convert uppercase word to lowercase
# and lowercase word to uppercase
def convert_case(match_obj):
    if match_obj.group(1) is not None:
        return match_obj.group(1).lower()
    if match_obj.group(2) is not None:
        return match_obj.group(2).upper()

# Original String
str = "EMMA loves PINEAPPLE dessert and COCONUT ice CREAM"

# group 1 [A-Z]+ matches uppercase words
# group 2 [a-z]+ matches lowercase words
# pass replacement function 'convert_case' to re.sub()
res_str = re.sub(r"([A-Z]+)|([a-z]+)", convert_case, str)

# String after replacement
print(res_str)

emma LOVES pineapple DESSERT AND coconut ICE cream

In [57]:
import re

target_string = "Emma loves PINEAPPLE, COCONUT, BANANA ice cream"
result = re.subn(r"[A-Z]{2,}", "MANGO", target_string)
print(result)

('Emma loves MANGO, MANGO, MANGO ice cream', 3)

In [58]:
import re

target_string = "Emma loves PINEAPPLE, COCONUT, BANANA ice cream"
result = re.subn(r"[A-Z]{2,}", "MANGO", target_string, count=2)
print(result)

('Emma loves MANGO, MANGO, BANANA ice cream', 2)